[Unit]
Description=the House Motion sidekick service
After=network-online.target houseportal.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
User=motion
Restart=on-failure
RestartSec=50s
Environment="HTTPOPTS=" "HOUSEOPTS=" "OTHEROPTS=" "OPTS="
EnvironmentFile=-/etc/default/housegeneric
EnvironmentFile=-/etc/default/housemotion
EnvironmentFile=-/etc/sysconfig/housegeneric
EnvironmentFile=-/etc/sysconfig/housemotion
ExecStart=/usr/local/bin/housemotion $HTTPOPTS $HOUSEOPTS $OTHEROPTS $OPTS

[Install]
WantedBy=multi-user.target

