Source: housemotion
Version: 1.2
Section: Web servers
Maintainer: Pascal Martin <pascal.fb.martin@gmail.com>
Priority: optional
Homepage: https://github.com/pascal-fb-martin/housemotion
Standard-Version: 4.7.0
Package: housemotion
Architecture: {{arch}}
Depends: houseportal (>= 2.9)
Description: A House service that interfaces motion and HouseDVR
 HouseMotion is part of the House suite of web services.
 .
 HouseMotion collects security events and recordings from motion and
 publish them through the House environment.

